<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <link rel="stylesheet" href="/static/login.css">
    <link rel="stylesheet" href="/static/menu.css">
</head>
<body>

<div id="menu">
    <span>{{ name if name is not none else '' }}
        <span>
            <a href="/help#settings_header"><img src="/static/question_mark.svg"/></a>
        </span>
        <span>
            <a href="/login"><img src="/static/wrench-svgrepo-com.svg"/></a>
        </span>
    </span>
</div>

<form method="post">
    <h3>Name</h3>
    <div name="option">
        <span>Enter your name: </span>
        <input type="text" name="name">
    </div>

    <h3>General Settings</h3>
    <div>
        <h4>Safe Mode</h4>
        <div class="option">
            <input id="safe_t" type="radio" name="safe" value="True"><label for="safe_t">Enabled</label>
            <input id="safe_f" type="radio" name="safe" value="False" checked="checked">
            <label for="safe_f">Disabled</label>
        </div>
    </div>

    <input id="submit" type="submit">

</form>
</body>
</html>