<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{id}}</title>
    <link rel="stylesheet" href="static/policy.css">
    <link rel="stylesheet" href="static/menu.css">
</head>
<body>

<div id="response_header">

    <span id="menu_left">
        <span id="counter">{{ counter }} so far! </span>

        <span id="skip_policy"><a autofocus="True" href="/">Skip Policy  </a></span>
		<span id="space"> .  </span>
		<span id="more_of_same_firm"><a autofocus="True" href="/more">  More of Same Firm(if there is any)</a></span>

    </span>

    <form id="res" method="post">
        <span>Splitting worked:
            <input id="res_good_t" type="radio" name="isGood" value="True"><label for="res_good_t">Yes</label>
            <input id="res_good_f" type="radio" name="isGood" value="False"><label for="res_good_f">No</label>
            <input id="res_no_pol" type="radio" name="isGood" value="NoPol"><label for="res_no_pol">No Policy</label>
        </span>
        <span>Citations:
            <input id="res_cit_g" type="radio" name="cit" value="good"><label for="res_cit_g">Good</label>
            <input id="res_cit_b" type="radio" name="cit" value="bad"><label for="res_cit_b">Bad</label>
            <input id="res_cit_n" type="radio" name="cit" value="none"><label for="res_cit_b">None</label>
        </span>
        <span>
            Note: <input name="text">
        </span>
        <input id="res_submit" type="submit">
    </form>

    <span id="menu">
        <span>{{ name }}
			<span id="keywords">
				<a autofocus="True" href="/keywords"> keywords</a>
			</span>
            <span>
                <a href="/help"><img src="/static/question_mark.svg"/></a>
            </span>
            <span>
                <a href="/login"><img src="/static/wrench-svgrepo-com.svg"/></a>
            </span>
        </span>
    </span>

</div>

<iframe id="mainframe" src="/policy"></iframe>


</body>
</html>