#mainframe {
    position: absolute;
    height: calc(100% - 3em);
    width: calc(100% - 5px);
    left: 0px;
    top: calc(3em - 5px);
}

#response_header {
    display: flex;
    justify-content: space-between;
}

#skip_policy {
    margin-right: auto;
}

/* The center, decision part */
#res {
    flex: 0 0 auto;
}
#res span {
    margin-left: 1em;
}

/* I need to add the margin to the menu span */
#menu {
    margin-left: auto;
}